// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: ( // light theme — based on #66CBD5
    100: hsl(185, 57%, 92%),  // very light tint
    200: hsl(185, 57%, 75%),  // lighter
    300: hsl(185, 57%, 60%),  // base tint
    400: hsl(185, 57%, 50%),  // closer to base
    500: hsl(185, 57%, 40%),  // #2B378F actual
  ),
  secondary: (
    100: hsl(206, 50%, 90%),  // very light pink
    200: hsl(206, 50%, 75%),
    300: hsl(206, 50%, 60%),
    400: hsl(206, 50%, 50%),
    500: hsl(206, 50%, 45%), // #ED1C26 actual
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);
