// | -------------------------------------------------------------
// | Font
// | -------------------------------------------------------------

body {
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  :where(main) a {
    word-wrap: break-word;
    word-break: break-word;
  }

  :where(h1, h2, h3, h4, h5, h6) {
    font-family: var(--font-family-display);
    font-style: italic;
    font-weight: 500;
    margin: 0;
    color: var(--ink);
  }
}
